*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    background-color: #548687;
    height: 100vh;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    /* color: #b0413e; */
    background-color: #ffffc7;
}
#resetbtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#newbtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: #c5c59e;
    font-size: 8vmin;
    transition: ease-in-out 0.8s all; 
    font-style: italic;
    font-weight: 400;
}
.msgg{
    height: 25min;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem ;
    
}

.hide{
    display: none;
}